service: docs-worker-pool
variablesResolutionMode: 20210326

plugins:
  - serverless-plugin-typescript

provider:
  name: aws
  stage: ${opt:stage, 'stg'}
  deploymentBucket: ${self:custom.deploymentBucket.${opt:stage, 'stg'}}
  deploymentPrefix: serverless
  region: us-east-2
package:
  patterns:
    api/config/**
custom:
  deploymentBucket:
    dev: worker-pool-deployment
    stg: worker-pool-deployment
    prd: worker-pool-deployment
  accountId:
    stg: 216656347858
    dev: 216656347858
    prd: 216656347858
  fastlyDochubToken: ${ssm:/env/${self:provider.stage}/docs/worker_pool/fastly/docs/dochub/token}
  fastlyDochubServiceId: ${ssm:/env/${self:provider.stage}/docs/worker_pool/fastly/docs/dochub/service_id}
  fastlyDochubMap: ${ssm:/env/${self:provider.stage}/docs/worker_pool/fastly/dochub_map}
  docuhubEventSource:
    stg: aws.partner/mongodb.com/stitch.trigger/5e00b7afec293c6507679c4d
    prd: aws.partner/mongodb.com/stitch.trigger/5e00b7afec293c6507679c4d
    dev: aws.partner/mongodb.com/stitch.trigger/5e00b7afec293c6507679c4d
  dochubEventBus: arn:aws:events:us-east-2:${self:custom.accountId.${self:provider.stage}}:event-bus/${self:custom.docuhubEventSource.${self:provider.stage}} 
  dbUsername: ${ssm:/env/${self:provider.stage}/docs/worker_pool/atlas/username}
  dbPassword: ${ssm:/env/${self:provider.stage}/docs/worker_pool/atlas/password}
  dbName: ${ssm:/env/${self:provider.stage}/docs/worker_pool/atlas/dbname}
  dbhost: ${ssm:/env/${self:provider.stage}/docs/worker_pool/atlas/host}
  jobCollection:  ${ssm:/env/${self:provider.stage}/docs/worker_pool/atlas/collections/job/queue}
  entitlementCollection: ${ssm:/env/${self:provider.stage}/docs/worker_pool/atlas/collections/user/entitlements}
  githubSecret: ${ssm:/env/${self:provider.stage}/docs/worker_pool/github/webhook/secret}
  slackSecret: ${ssm:/env/${self:provider.stage}/docs/worker_pool/slack/webhook/secret}
  slackNotificationEventSource:
    stg: aws.partner/mongodb.com/stitch.trigger/5e00b7afec293c6507679c4d
    prd: aws.partner/mongodb.com/stitch.trigger/5e00b7afec293c6507679c4d
    dev: aws.partner/mongodb.com/stitch.trigger/5e00b7afec293c6507679c4d
  slackNotificationEventBus: arn:aws:events:us-east-2:${self:custom.accountId.${self:provider.stage}}:event-bus/${self:custom.slackNotificationEventSource.${self:provider.stage}} 
  dashboardUrl:
    stg: https://workerpoolstaging-qgeyp.mongodbstitch.com/pages/job.html?collName=${self:provider.jobCollection}&jobId=
    prd: https://workerpool-boxgs.mongodbstitch.com/pages/job.html?collName=${self:provider.jobCollection}&jobId=
    dev: https://workerpoolstaging-qgeyp.mongodbstitch.com/pages/job.html?collName=${self:provider.jobCollection}&jobId=

  env:
    stg: "staging"
    prd: "production"
    dev: "staging"

default-env: &default-env
  STAGE: ${self:provider.stage}
  FASTLY_DOCHUB_MAP: ${self:custom.fastlyDochubMap}
  FASTLY_DOCHUB_SERVICE_ID: ${self:custom.fastlyDochubServiceId}
  FASTLY_DOCHUB_TOKEN: ${self:custom.fastlyDochubToken}
  GITHUB_WEBHOOK_SECRET: REPLACE-WITH-YOUR-SECRET-HERE

webhook-env-core: &webhook-env-core
  STAGE: ${self:provider.stage}
  MONGO_ATLAS_USERNAME: ${self:custom.dbUsername}
  MONGO_ATLAS_PASSWORD: ${self:custom.dbPassword}
  MONGO_ATLAS_HOST: ${self:custom.dbhost}
  MONGO_ATLAS_URL: mongodb+srv://${self:custom.dbUsername}:${self:custom.dbPassword}@${self:custom.dbhost}/admin?retryWrites=true
  DB_NAME: ${self:custom.dbName}
  USER_ENTITLEMENT_COL_NAME: ${self:custom.entitlementCollection}
  JOB_QUEUE_COL_NAME: ${self:custom.jobCollection}
  GITHUB_SECRET: ${self:custom.githubSecret}
  REPO_BRANCHES_COL_NAME:  ${self:custom.repoBranchesCollection}
  SLACK_SECRET: ${self:custom.slackSecret}
  DASHBOARD_URL: ${self:custom.dashboardUrl.${self:provider.stage}}

functions:
    v1UpsertEdgeDictionaryItem:
      handler: api/controllers/v1/dochub.UpsertEdgeDictionaryItem
      events:
        - eventBridge:
            eventBus:  ${self:custom.dochubEventBus}
            pattern:
              source:
                - ${self:custom.docuhubEventSource.${self:provider.stage}}
      environment:
        <<: *default-env
    
    v1GithubDeployRepo:
      handler: api/controllers/v1/github.TriggerBuild
      events:
        - http:
            path: /webhook/github/trigger/build
            method: POST
            cors: true
      environment:
        <<: *webhook-env-core

    v1SlackDisplayRepoOptions:
      handler: api/controllers/v1/slack.DisplayRepoOptions
      events:
        - http:
            path:  /webhook/slack/display/repos
            method: POST
            cors: true
      environment:
        <<: *webhook-env-core

    v1SlackDeployRepo:
      handler: api/controllers/v1/slack.DeployRepo
      events:
        - http:
      events:
        - http:
            path: /webhook/github/trigger/build
            method: POST
            cors: true
      environment:
        <<: *webhook-env-core

    v1SlackDisplayRepoOptions:
      handler: api/controllers/v1/slack.DisplayRepoOptions
      events:
        - http:
            path:  /webhook/slack/display/repos
            method: POST
            cors: true
      environment:
        <<: *webhook-env-core

    v1SlackDeployRepo:
      handler: api/controllers/v1/slack.DeployRepo
      events:
        - http:
            path:  /webhook/slack/trigger/build
            method: POST
            cors: true
      environment:
        <<: *webhook-env-core

