service: docs-worker-pool-service-ecr

plugins:
  - serverless-pseudo-parameters
provider:
  name: aws
  stage: ${opt:stage, 'stg'}
  deploymentBucket: ${self:custom.deploymentBucket.${opt:stage, 'stg'}}
  deploymentPrefix: serverless
  region: us-east-2

custom:
  ecrName: ${self:service}
  deploymentBucket:
    intgr: worker-pool-deployment
    stg: worker-pool-deployment
    prd: worker-pool-deployment
    dev: worker-pool-deployment

resources:
  Resources:
    # Create ECR Repository for this project
    ECRRepository:
      Type: 'AWS::ECR::Repository'
      Properties:
        RepositoryName: docs-worker-pool-service-${self:provider.stage}