service: docs-worker-pool
variablesResolutionMode: 20210326

plugins:
  - serverless-pseudo-parameters
provider:
  name: aws
  stage: ${opt:stage, 'stg'}
  iamRoleStatements:
    - Effect: Allow
      Action:
        - "s3:DeleteObject"
        - "s3:PutObject"
        - "sqs:SendMessage"
        - "ssm:PutParameter"
        - "ssm:GetParameter"
      Resource:
        - "*"
    - Effect: Allow
      Action:
        - “sqs:SendMessage”
      Resource:
        - "*"
  deploymentBucket: ${self:custom.deploymentBucket.${opt:stage, 'stg'}}
  deploymentPrefix: serverless
  region: us-east-2
  vpc:
    securityGroupIds:
      - 'Fn::GetAtt':
          - GroupId
    subnetIds:
      - subnet-0a142842e8f13a042
      - subnet-0fba568cfd3839eee
custom:
  deploymentBucket:
    dev: worker-pool-deployment
    stg: worker-pool-deployment
    prd: worker-pool-deployment
    dotcomstg: worker-pool-deployment
    dotcomprd: worker-pool-deployment
  ecs:
    port: '80'
    imageUrl: ${self:custom.accountId.${self:provider.stage}}.dkr.ecr.us-east-2.amazonaws.com/${self:service}-${self:provider.stage}:latest
    containerCpu:
      dev: '2048'
      stg: '2048'
      prd: '2048'
      dotcomstg: '2048'
      dotcomprd: '2048'
    containerMemory:
      dev: '8192'
      stg: '8192'
      prd: '8192'
      dotcomstg: '8192'
      dotcomprd: '8192'
    desiredCount:
      dev: '4'
      stg: '4'
      prd: '4'
      dotcomstg: '4'
      dotcomprd: '4'
    minimumHealthyPercent:
      dev: 100
      stg: 100
      prd: 100
      dotcomstg: 100
      dotcomprd: 100
    maximumPercent:
      dev: 200
      stg: 200
      prd: 200
      dotcomstg: 200
      dotcomprd: 200
    deregistrationDelaySecs: '10'
  targetGroupName: docs-worker-pool
  accountId:
    stg: 216656347858
    dev: 216656347858
    prd: 216656347858
    dotcomstg: 216656347858
    dotcomprd: 216656347858

  dbUsername: ${ssm:/env/${self:provider.stage}/docs/worker_pool/atlas/username}
  dbPassword: ${ssm:/env/${self:provider.stage}/docs/worker_pool/atlas/password}
  dbName: ${ssm:/env/${self:provider.stage}/docs/worker_pool/atlas/dbname}
  dbhost: ${ssm:/env/${self:provider.stage}/docs/worker_pool/atlas/host}
  awsKey: ${ssm:/env/${self:provider.stage}/docs/worker_pool/aws/key}
  awsSecret: ${ssm:/env/${self:provider.stage}/docs/worker_pool/aws/secret}
  githubBotUserName: ${ssm:/env/${self:provider.stage}/docs/worker_pool/github/bot/username}
  githubBotPW: ${ssm:/env/${self:provider.stage}/docs/worker_pool/github/bot/password}
  fastlyDochubMap: ${ssm:/env/${self:provider.stage}/docs/worker_pool/fastly/dochub_map}
  bucketName: docs-mongodb-org-${self:provider.stage}
  atlasBucketName: docs-atlas-${self:provider.stage}
  atlasOsbBucketName: docs-atlas-osb-${self:provider.stage}
  atlasGovBucketName: docs-govcloud-${self:provider.stage}
  devhubBucketName: docs-devhub-${self:provider.stage}
  cloudManagerBucketName: docs-cloudmanager-${self:provider.stage}
  opsManagerBucketName: docs-opsmanager-${self:provider.stage}
  npmBase64Auth: ${ssm:/env/${self:provider.stage}/docs/worker_pool/npm/auth}
  npmEmail: ${ssm:/env/${self:provider.stage}/docs/worker_pool/npm/email}
  awsKeyDevhub: ${ssm:/env/${self:provider.stage}/docs/worker_pool/devhub/aws/key}
  awsSecretDevhub: ${ssm:/env/${self:provider.stage}/docs/worker_pool/devhub/aws/secret}
  gatsbyBaseUrl: ${ssm:/env/${self:provider.stage}/docs/worker_pool/frontend/base_url}
  gatsbyFeatureFlagConsistentNavigation: ${ssm:/env/${self:provider.stage}/docs/worker_pool/flag/consistent_nav/enabled}
  gatsbyFeatureFlagVersionDropdown: false
  fastlyMainToken: ${ssm:/env/${self:provider.stage}/docs/worker_pool/fastly/docs/main/token}
  fastlyMainServiceId: ${ssm:/env/${self:provider.stage}/docs/worker_pool/fastly/docs/main/service_id}
  fastlyCloudManagerToken: ${ssm:/env/${self:provider.stage}/docs/worker_pool/fastly/docs/cloudmanager/token}
  fastlyCloudManagerServiceId: ${ssm:/env/${self:provider.stage}/docs/worker_pool/fastly/docs/cloudmanager/service_id}
  fastlyAtlasToken: ${ssm:/env/${self:provider.stage}/docs/worker_pool/fastly/docs/atlas/token}
  fastlyAtlasServiceId: ${ssm:/env/${self:provider.stage}/docs/worker_pool/fastly/docs/atlas/service_id}
  fastlyOpsManagerToken: ${ssm:/env/${self:provider.stage}/docs/worker_pool/fastly/docs/opsmanager/token}
  fastlyOpsManagerServiceId: ${ssm:/env/${self:provider.stage}/docs/worker_pool/fastly/docs/opsmanager/service_id}
  fastlyDevhubToken: ${ssm:/env/${self:provider.stage}/docs/worker_pool/fastly/docs/devhub/token}
  fastlyDevhubServiceId: ${ssm:/env/${self:provider.stage}/docs/worker_pool/fastly/docs/devhub/service_id}
  fastlyDochubToken: ${ssm:/env/${self:provider.stage}/docs/worker_pool/fastly/docs/dochub/token}
  fastlyDochubServiceId: ${ssm:/env/${self:provider.stage}/docs/worker_pool/fastly/docs/dochub/service_id}
  javaBucketName: docs-java-${self:provider.stage}
  goBucketName: docs-go-${self:provider.stage}
  javaIntgrBucketName: docs-java-intgr
  goIntgrBucketName: docs-go-intgr
  nodeBucketName: docs-node-${self:provider.stage}
  nodeIntgrBucketName: docs-node-intgr
  jobCollection:  ${ssm:/env/${self:provider.stage}/docs/worker_pool/atlas/collections/job/queue}
  repoBranchesCollection: ${ssm:/env/${self:provider.stage}/docs/worker_pool/atlas/collections/repo}
  entitlementCollection: ${ssm:/env/${self:provider.stage}/docs/worker_pool/atlas/collections/user/entitlements}
  jobsQueueUrl: ${docs-worker-pool-api-${self:provider.stage}.JobsQueueURL}
  jobUpdatesQueueUrl: ${docs-worker-pool-api-${self:provider.stage}.JobsUpdateQueueURL}
  cdnClientID: ${ssm:/env/${self:provider.stage}/docs/worker_pool/cdn/client/id}
  cdnClientSecret: ${ssm:/env/${self:provider.stage}/docs/worker_pool/cdn/client/secret}
  cdnInvalidatorServiceURL:
    stg: https://cdnvalidator.devops.staging.corp.mongodb.com/api/v1beta1/distributions/${self:custom.distributionName.${self:provider.stage}}/invalidations
    prd: https://cdnvalidator.devops.prod.corp.mongodb.com/api/v1beta1/distributions/${self:custom.distributionName.${self:provider.stage}}/invalidations
    dotcomstg: https://cdnvalidator.devops.staging.corp.mongodb.com/api/v1beta1/distributions/${self:custom.distributionName.${self:provider.stage}}/invalidations
    dotcomprd: https://cdnvalidator.devops.prod.corp.mongodb.com/api/v1beta1/distributions/${self:custom.distributionName.${self:provider.stage}}/invalidations
    dev: https://cdnvalidator.devops.staging.corp.mongodb.com/api/v1beta1/distributions/${self:custom.distributionName.${self:provider.stage}}/invalidations
  distributionName:
    stg: mongodbcom-staging-docs
    dotcomstg: mongodbcom-staging-docs
    dev: mongodbcom-staging-docs
    dotcomprd: mongodbcom-prod-docs
    prd: mongodbcom-prod-docs
  env:
    stg: "staging"
    prd: "production"
    dev: "staging"
    dotcomstg: "dotcomstg"
    dotcomprd: "dotcomprd"
  # TODO: When satisfied with manifest generation, remove '-test'
  searchIndexBucketName: docs-search-indexes-test
  # TODO: In future, use duplicate mapping of dotcomstg -> preprd to have
  # one source-of-truth for new environment-name mapping standard
  searchIndexFolder:
    dotcomstg: "preprd"
    dotcomprd: "prd"

resources:
  - ${file(./buckets.yml)}
  - ${file(./ecs_service.yml)}