on:
  push:
    branches:
      - integration
name: Deploy Integration
jobs:
  deploy-integration:
    if: github.ref == 'refs/heads/integration'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Install SSH Key
        uses: shimataro/ssh-key-action@v2.3.0
        with:
          key: ${{ secrets.EC2_RSA_KEY }}
          known_hosts: ${{ secrets.EC2_KNOWN_HOSTS }}
          name: id_rsa
      - name: Deploy Integration to Integration
        run: |
          ssh ${{ secrets.INTEGRATION_HOST}} -T '
          cd docs-worker-pool/docs-worker-pool
          git pull origin
          git checkout origin/integration
          sudo docker system prune
          sudo docker build --no-cache --tag integration .
          sudo docker stop $(sudo docker ps -a -q)
          sudo docker build --no-cache --tag stage .
          sudo sh rundocker.sh
          '
          
