on:
  push:
    branches:
      - "master"
      - "integration"
  pull_request:
    branches:
      - master
      - integration
concurrency:
  group: environment-${{ github.ref }}
  cancel-in-progress: true
name: Deploy Dev ECS
jobs:
  deploy-dev:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: '14.x'
      - name: Install Serverless Framework
        run: npm install -g serverless
      - name: Serverless AWS authentication
        run: sls config credentials --provider aws --key ${{ secrets.AWS_ACCESS_KEY_ID }} --secret ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      - name: Configure AWS credentials
        id: config-aws
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2
      - name: Create ECS Repo
        run: |
          cd infrastructure/ecs-repo
          npm ci
          sls deploy --stage dev
      - uses: mr-smithers-excellent/docker-build-push@v5
        name: build and push to ECR
        with:
          image: docs-worker-pool-dev
          tags: latest
          registry: ${{ steps.config-aws.outputs.aws-account-id }}.dkr.ecr.${{ steps.config-aws.with.region }}.amazonaws.com
          buildArgs: NPM_EMAIL=${{ secrets.NPM_EMAIL }},NPM_BASE_64_AUTH=${{ secrets.NPM_BASE_64_AUTH }}
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          NPM_BASE_64_AUTH: ${{ secrets.NPM_BASE_64_AUTH }}
          NPM_EMAIL: ${{ secrets.NPM_EMAIL }}
      - name: Deploy ECS
        run: |
          cd infrastructure/ecs-main
          npm ci
          sls deploy --stage dev
      - name: Deploy Lambdas
        run: |
          npm ci
          sls deploy --stage dev
